<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Christian Schuler's personal website">
    <meta name="author" content="Christian Schuler">
    <meta name="keywords" content="Natural Language Processing, Kurdish language processing, less-resourced languages, Computational Linguistics, Visualisations, Creativity">
    <meta name="twitter:title" content="Christian Schuler's personal website">
    <meta property="og:image" content="https://christianschuler8989.github.io/docs/profile-2023-christian.png">
    <meta property="og:description" content="Christian Schuler's personal website">
    <meta property="og:title" content="Christian Schuler's personal website">

    <title>
        {% if page.title %}
            {{ page.title }} &middot; {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>

    <script src="{{ site.baseurl }}/theme/js/jquery-3.2.1.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/popper.min.js"></script>
    <script src="{{ site.baseurl }}/theme/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/site.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/theme/css/syntax.css">
    <link rel="meta" type="application/rdf+xml" title="FOAF" href="foaf.rdf" /> 

</head>
