<!-- Avatar in Hexagon Shape - Approach B --> 
<svg viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <pattern id="img" patternUnits="userSpaceOnUse" width="100" height="100">
        <image xlink:href="{{ site.baseurl }}{{ site.avatar }}" x="-25" width="150" height="100" />
      </pattern>
    </defs>
    <polygon id="hex" points="50 1 95 25 95 75 50 99 5 75 5 25" fill="url(#img)"/>
</svg>
<h2 class="card-title d-none d-sm-block">
    <font color="#50C878">  <!-- Emerald -->
        {{site.name}}
    </font>
</h2>
<h4>{{site.affiliation}}</h4>

<!-- Avatar in Hexagon Shape - Approach A
<p class="card-text d-none d-sm-block">
    <a href="{{site.baseurl}}{% link _pages/index.md %}">
        <div class="hexagon">
        </div>
    </a>
</p>
<h3 class="card-title d-none d-sm-block">{{site.name}}</h3>
<h4>{{site.affiliation}}</h4>
 --> 

<!-- Avatar in Circle Shape
<p class="card-text d-none d-sm-block">
    <a href="{{site.baseurl}}{% link _pages/index.md %}">
        <img class="profile-image rounded-circle w-75"  src="{{ site.baseurl }}{{ site.avatar }}" />
    </a>
</p>
<h3 class="card-title d-none d-sm-block">{{site.name}}</h3>
<h4>{{site.affiliation}}</h4>
-->

<p class="card-text d-xs-flex d-sm-none">
    <a href="{{site.baseurl}}{% link _pages/index.md %}">
        <img class="profile-image rounded-circle mr-2" src="{{ site.baseurl }}{{ site.avatar }}" style="width: 15% !important" />
    </a>
    <strong>{{site.name}}</strong>
</p>